.ul_meni{
	position: fixed;
    display: inline-block;
    right: 0%;
    top: 0%;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: scaleY(-1);
}
.ul_meni li{
    float: right;
    width: 100%;
    height: auto;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 0.3vw;
    transform: scaleY(-1);
    background: black;
}
a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}
a:hover
{
  color: tomato;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 3%;
  width: 90%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 30%;
  height: 765px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.secondMenu{
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    font-size: 1.5vw;
    font-weight: bold;
}