{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    label{
        margin-right: 2%;
        color: white;
    }
    input{
        color: black;
    }
    button{
        width: 15%;
        background-color: white;
        color: black;
        border-radius: 0.4vw;
        margin-right: 13%;
        margin-top: 1%;
    }
</style>
<body style="background-color: black;">
    <img src="http://ourtaskmanager.com/images/our%20task%20manager%20%20logo.png" width="70%;" style="margin-left: 15%; margin-top: 5%;">
    <form method="post" style="color:white; text-align: right; font-size: 1.3vw; margin-top: 3%; margin-right: 40%;">
      {% csrf_token %}
      {{ form.as_p }}
    <div style="background-color: black; color: white; text-align: center;">
        <ul>
            {% for error in errors %}
                <li style="text-align: center; margin-left: 65%;">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
      <button type="submit">Изменить</button>
    </form>
</body>
</html>