{% load static %}
<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%; background: black">
<head>
    <meta charset="UTF-8">
    <title>Все задачи</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<style>
    label{
        color: white;
    }
    input{
        color: black;
    }
    select{
        color: black;
    }
    button{
        color: black;
    }
</style>
<body style="width: 100%; height: 100%; background: black">
{% include 'menu.html' %}
<img src="http://ourtaskmanager.com/images/our%20task%20manager%20%20logo.png" width="25%;" style="margin-right: 3%; margin-top: 2%; float: right;">
{#    <div style="background-color: white; color: black; border-radius: 0.2vw; float: right; margin: 3%; margin-top: 4.8%; width: 20%; padding: 2%;">#}
{#        <h4 style="text-align: center;">Основные группы:</h4>#}
{#        <ul>#}
{#            <li><a>adw</a></li>#}
{#        </ul>#}
{#    </div>#}

    <button onclick="window.open('{% url 'add_task' %}')" style="margin-top: 7%; font-size: 1.2vw; border-radius: 0.5vw; font-weight: bold; padding: 0.6%; right: 85%; position: absolute;">Добавить задачу</button>

    <div style=" width: 75%;padding: 1%; font-size: 1.4vw; margin-left: 1%;margin-top: 13%; border: 0.2vw solid white;">
        <div style="background-color: #D7C9C9; padding: 1%; margin-bottom: 0.5%;" >
                <label style="margin-right: 5%; width: 10%; color: red; float: left; ">Id Задачи</label>
                <label style="margin-right: 3%; width: 20%; color: black; float: left;">Название задачи</label>
                <label style="margin-right: 6%; color: black; float: left;">Приоритет</label>
                <label style="color: black;">Статус</label>
                <label style="float: right; margin-right: 1%; color: red;">Необходимо удалить?</label>
        </div>
        {% if tasks|length == 0 %}
            <h3>У вас пока нет задач)</h3>
        {% else %}
            {% for task in tasks %}
            <div style="background-color: #D7C9C9; padding: 1%; margin-bottom: 0.5%;" >
                <label style="margin-right: 10%; width: 5%;float: left;"><a style="color: red;" href="{% url 'Task' pk=task.id %}">{{ task.id }}</a></label>
                <label style="margin-right: 13%; width: 10%; color: black; float: left;">{{ task.header }}</label>
                <label style="color: black; float: left; width: 17%;">{{ task.priority}}</label>
                <label style="color: black; ">{{ task.status }}</label>
                <label style="float: right; margin-right: 5%; width: 5%;"><a style="color: red;" href="{% url 'delete_task' pk=task.id %}">Удалить</a></label>
            </div>
            {% endfor %}
        {% endif %}
	</div>
</body>
</html>