{% load static %}
<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%; background: black">
<head>
    <meta charset="UTF-8">
    <title>Связанные задачи</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<style>
    label{
        color: white;
    }
    input{
        color: black;
    }
    select{
        color: black;
    }
    button{
        color: black;
    }
    a{
        color: cyan;
    }
</style>
<body style="width: 100%; height: 80%; color: white; background: black; font-family: 'Franklin Gothic Medium';">
    <img src="http://ourtaskmanager.com/images/our%20task%20manager%20%20logo.png" width="25%;" style="margin-right: 3%; margin-top: 2%; float: right;">

    {% include 'menu.html' %}

    <form method="post" style="margin-top: 10%; font-size: 1.4vw; text-align: center;">
    {% if is_linked == 'None' %}
        <p>Связана ли задача: Нет</p>
    {% else %}
        <p>Связана ли задача: Да</p>
        <p>Связанные задачи:</p>
        {% for ids in linked_id %}
            <a href="{% url 'look_task' pk=ids %}">{{ ids }}</a> (<a href="{% url 'delete_link_between_tasks' left_link_id=ids right_link_id=left_id %}">Удалить связь с этой задачей</a>)
        {% endfor %}
    {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
        <div style="background-color: black; color: white; text-align: center;">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
      <button type="submit">Добавить</button>
    </form>
</body>
</html>