{% load static %}
<!DOCTYPE html>
<html lang="en">
<html lang="en" style="width: 100%; height: 100%; background: black">
<head>
    <meta charset="UTF-8">
    <title>Действия с родителями</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<style>
    label{
        color: white;
    }
    input{
        color: black;
    }
    select{
        color: black;
    }
    button{
        color: black;
    }
    a{
        color: coral;
    }
</style>
<body style="width: 100%; height: 80%; color: white; background: black; font-family: 'Franklin Gothic Medium';">
    <img src="http://ourtaskmanager.com/images/our%20task%20manager%20%20logo.png" width="25%;" style="margin-right: 3%; margin-top: 2%; float: right;">

    {% include 'menu.html' %}

    <div style="margin-top: 10%; font-size: 1.4vw; text-align: center;">
    {% if is_parent == 'None' %}
        <p>Является ли родительской задачей: Нет</p>
    {% else %}
        <p>Является ли родительской задачей: Да</p>
        <p>Подзадачи:</p>
        {% for under_task in under_tasks %}
            <a href="{% url 'look_task' pk=under_task%}">{{ under_task }}</a>
        {% endfor %}
    {% endif %}
    {% if is_under_task == 'None' %}
        <p>Является ли подзадачей задачей: Нет</p>
    {% else %}
        <p>Является ли подзадачей задачей: Да</p>
        <p>Id родительской задачи: {{ parent_id }}(<a href="{% url 'delete_link_beetwen_child_and_parent' id=pk parent=parent_id %}">Удалить зависимость</a>)</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <div style="background-color: black; color: white; text-align: center;">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
      <button type="submit">Добавить</button>
    </form>
    </div>

</body>
</html>